body{
    background-color: darkgray;
}
.navbar-nav{
    width: 50;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: darkgray;
}
.carousel-item{
    height: 40vh;
}
.col{
    width: 20vw;
    height: 60vh;
    margin: 2vw;
}
#check, #cohort{
    color: whitesmoke;
    width: 15vw;
    margin: 0;
}
#check{
    width: 55vw;
}
#form{
    width: 40vw; height: 70vh;
    color: black;
    margin-left: 30vw;
}
#detail, #tabla{
    width: 85vw;
    margin-top: 3vh;
}
#tabla{
    margin-left: 7.5vw;
}
td, th, tr{
    border: solid 1px whitesmoke;
}