.carousel-item{
    height: 30vh;
}
/* Tarjetas */
.col{
    width: 20vw;
    height: 78vh;
    margin: 2vw;
}
#check, #cohort{
    color: whitesmoke;
    width: 15vw;
}
#check{
    width: 55vw;
}
body{
    background-color: darkgray;
}
.navbar-nav{
    width: 50;
}
#form{
    width: 40vw; height: 70vh;
    color: black;
    margin-left: 30vw;
}
#detail, #tabla{
    width: 85vw;
    margin-top: 3vh;
}
#tabla{
    margin-left: 7.5vw;
}
td, th, tr{
    border: solid 1px whitesmoke;
}